<!DOCTYPE html>
<html>
    <head>
        <meta encode='utf-8'>
        <title>{{title}}</title>
    </head>
    <body>
        {{> header}}
        <p>I am here.{{currentYear}}</p>
        {{> footer}}
    </body>
</html>